<div class="h-full">
  <div
    class="container mx-auto h-full px-6 flex items-center justify-center flex-col"
  >
    <h1
      class="select-none text-8xl font-bold text-center bg-gradient-to-r from-blue-600 from-20% to-pink-600 to-80% bg-clip-text"
      style="-webkit-text-fill-color: transparent"
    >
      Arweave Wallet Kit
    </h1>

    <h1 class="select-none text-7xl font-bold text-center text-neutral-200">
      Angular
    </h1>

    <div class="flex items-stretch mt-10 gap-3">
      <a
        href="https://github.com/sspfinc/arweave-wallet-kit-ng#readme"
        class="transition ease-in-out flex items-center px-6 py-2 text-lg bg-slate-700 font-medium text-white rounded-md border border-slate-700 shadow hover:bg-slate-800 active:bg-slate-950 active:shadow-none"
      >
        Get Started
      </a>

      <span
        class="inline-flex gap-3 px-4 py-3 border border-white rounded-lg text-white flex-shrink font-medium items-center"
        style="
          background: linear-gradient(
            302.21deg,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0.05) 100%
          );
        "
      >
        <span class="font-bold">$</span>npm i arweave-wallet-kit-ng
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
          style="
            width: 1.1rem;
            height: 1.1rem;
            cursor: pointer;
            transition: all 0.18s ease-in-out 0s;
          "
          (click)="copyToClipboard('yarn add arweave-wallet-kit-ng')"
        >
          <path
            fill="#fff"
            fill-opacity="0.01"
            d="M3 9.7c0-1.1201 0-1.6802.218-2.108a1.9999 1.9999 0 0 1 .874-.874C4.5198 6.5 5.08 6.5 6.2 6.5h8.1c1.1201 0 1.6802 0 2.108.218.3763.1917.6823.4977.874.874.218.4278.218.9879.218 2.108v8.1c0 1.1201 0 1.6802-.218 2.108a1.9996 1.9996 0 0 1-.874.874C15.9802 21 15.4201 21 14.3 21H6.2c-1.1201 0-1.6802 0-2.108-.218a1.9997 1.9997 0 0 1-.874-.874C3 19.4802 3 18.9201 3 17.8V9.7Z"
          ></path>
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M7.5 3h7.1c2.2402 0 3.3603 0 4.216.436a4.0002 4.0002 0 0 1 1.748 1.748C21 6.0397 21 7.1598 21 9.4v7.1M6.2 21h8.1c1.1201 0 1.6802 0 2.108-.218a1.9996 1.9996 0 0 0 .874-.874c.218-.4278.218-.9879.218-2.108V9.7c0-1.1201 0-1.6802-.218-2.108a1.9997 1.9997 0 0 0-.874-.874C15.9802 6.5 15.4201 6.5 14.3 6.5H6.2c-1.1201 0-1.6802 0-2.108.218a1.9999 1.9999 0 0 0-.874.874C3 8.0198 3 8.58 3 9.7v8.1c0 1.1201 0 1.6802.218 2.108.1917.3763.4977.6823.874.874C4.5198 21 5.08 21 6.2 21Z"
          ></path>
        </svg>
      </span>
    </div>

    <div class="mt-10"></div>
    <awk-connect-button [size]="'xl'" [label]="'Connect Wallet (DEMO)'">
    </awk-connect-button>

    <awk-profile-modal [size]="'xl'"></awk-profile-modal>
  </div>
</div>

<awk-connection-modal
  [appInfo]="{ name: 'C8', logo: 'https://capsl8.com/favicon.ico' }"
  [permissions]="[
    'ACCESS_ADDRESS',
    'ACCESS_PUBLIC_KEY',
    'ACCESS_ALL_ADDRESSES',
    'SIGN_TRANSACTION',
    'ENCRYPT',
    'DECRYPT',
    'SIGNATURE',
    'ACCESS_ARWEAVE_CONFIG',
    'DISPATCH'
  ]"
></awk-connection-modal>

<div class="glow"></div>
